@charset "UTF-8";
body {background-color: #2c2c2c;
      color: #fff;
      font-style: inherit;}
.all-container 
            {display: flex;
            flex-direction: column;
            
            /* 메인축으로 정렬 */
            justify-content: center;
            /* 교차축으로 정렬 */
            align-items: center;
            margin-top: 30px;
            gap: 30px;}

.slogon-containe { display: flex;  /* 이미지와 글을 한 줄(또는 세로)로 정렬 */
                   flex-direction: column;  /* 세로 배치 */
                   align-items: center;     /* 중앙 정렬 */
                   gap: 30px;               /* 이미지와 글 사이 간격 */
                    }
   
img {width: 272px;
    height: 272px; }

 p {width: 272px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    letter-spacing: 45%;}

 .link-container { 
  display: flex;
  flex-direction: column; /* 세로 배치 */
  align-items: center;    /* 가운데 정렬 */
  gap: 20px;              /* 버튼 간 간격 */}
   

a.btn1 { display: inline-block;
         padding: 10px 20px;
         background-color: rgb(0, 0, 0);
         color: #fff;
         text-decoration: none;
         border-radius: 10px;
         font-weight: bold;
         text-align: center;} 

a.btn2 { display: inline-block;
         padding: 10px 20px;
         background-color: rgb(0, 0, 0);
         border: 3px solid #fff;
         color: #fff;
         text-decoration: none;
         border-radius: 10px;
         font-weight: bold;
         text-align: center;
        }


