@charset "UTF-8";

body { background-image:url('./images/netflix/2799478.jpg');
       background-repeat: no-repeat; 
       background-position: center;  
       margin: 0 auto;

}
.header { display: flex;
          width: 100vw;     
          height: 50%;    
          justify-content:space-between;
          align-items: flex-start;
          background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
          color: #fff;}
.header img{ width: 100px; }

.login {display: flex;
          justify-content: flex-start;
          align-items: flex-end; }